<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Employee 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/addemp">Add Employee</a></li>
              <li><a class="dropdown-item" routerLink="/viewemp">View Employee</a></li>
              <li><a class="dropdown-item" routerLink="/searchemp">Search Employee</a></li>
              <li><a class="dropdown-item" routerLink="/employeelogin">Employee Leave Approve</a></li>
              <li><a class="dropdown-item" routerLink="/securitylogin">Employee Daily Log</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Security 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/addsec">Add Security</a></li>
              <li><a class="dropdown-item" routerLink="/viewsec">View Security</a></li>
              <li><a class="dropdown-item" routerLink="/searchsec">Search Security</a></li>
              <li><a class="dropdown-item" routerLink="/employeelogin">Security Leave Approve</a></li>
              <li><a class="dropdown-item" routerLink="/securitylogin">Security Daily Log</a></li>
            </ul>
          </li>


         


        </ul>
      </div>
    </div>
  </nav>