<app-emp-navbar></app-emp-navbar>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-black text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Leave Apply</h2>
                

                  <div class="form-outline form-white mb-4">
                    <input type="text" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="type" />
                    <label class="form-label" for="typeEmailX">Type</label>
                  </div>


                  <div class="form-outline form-white mb-4">
                    <textarea name="description"  [(ngModel)]="description" id="typeEmailX" class="form-control form-control-lg" cols="30" rows="10"></textarea>
                   
                    <label class="form-label" for="typeEmailX">Description</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="date" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="leaveDate" />
                    <label class="form-label" for="typeEmailX">Leave Date</label>
                  </div>

                
  
                <button type="button" class="btn btn-outline-primary btn-rounded" (click)="leave()" data-mdb-ripple-color="dark">Submit</button>
  
                
  
                
  
              </div>
  
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  